@import url("https://fonts.googleapis.com/css2?family=Orelega+One&family=Oswald:wght@300;400&display=swap");

.website-name {
  padding: 1rem;
  margin-top: rem;
  font-size: x-large;
  font-weight: bold;
}
.navigation {
  background-color: #F9A8D4;
  color: #000000;
  border-bottom-left-radius: 1.5rem;
}
.nav-main {
  display: inline;
  padding: 0rem 0.5rem;
  font-weight: normal;
}
.nav-pills {
  text-align: right;
  font-weight: normal;
  font-size: 100%;
  padding: 1rem;
}
.nav-pills .nav-main{
    padding: 0rem 2.0rem;
    font-size: 1.15rem;
    font-weight: normal;
    
}
.navigation .link-active{
    font-weight: bold;
    background-color: #f5c9eb;
    border-radius: 0.5rem;
}

.hero{
    padding: 1rem;
}
.hero .hero-img{
    max-width: 300px;
    display: block;
    margin: auto;
}
.hero-heading{
    text-align: center;
    padding-top:1.5rem;
    font-weight: bold;
}

.heading-inverted{
    color:#EC4899;
}

.container{
    padding: 10rem,10rem;
    max-width: 600px;
    margin: auto;
}
.container-center{
    text-align: center;
}

.section{
    padding: 2rem;
    font-weight: normal;
}
.ow{
    background-color: #F3F4F6;
}

.blog-name{
    padding-bottom: 1rem;
    font-weight: bold;
}

.link{
    text-decoration: none;
    padding: 0.5rem;
    color: black;
    
    
}
.primary-link{
    background-color: #EC4899;
    border: 1px solid;
    border-radius: 0.5rem;
    color: white;
    
}
.secondary-link{
    background-color: white;
    border: 1px solid;
    border-radius: 0.5rem;
    color: white;
    margin: 1rem;
}
.secondary-link{
    border:1px solid;
    border-radius: 0.5rem;
    color: black;
}

.footer{
    background-color: #F9A8D4;
    height: 110px;
    text-align: center;
    color: black;
    font-weight: normal;
    margin-top: 100px;
    border-top-right-radius: 1.5rem;
   
}
.footer-social{
    display: inline;
    padding-left: 1rem;
    font-weight: bold;
}
.footer-txt{
    text-align: center;
    padding-bottom: 1rem;
    font-weight: bold;
}
.footer ul {
    padding-inline-start: 0px;
    margin-bottom: 0px;
  }
  .footer-last{
      padding-top: 1.5rem ;
      margin-bottom: 1rem;
  }
  a:hover {
    color: #e8e8e8;
  }